<!-- http://jsfiddle.net/7eqsc/2/ -->
<!-- http://jsfiddle.net/TheSharpieOne/Xku9z/ -->
<div class="insert-question-box">
  <h1>Inserir Questão</h1>
    <select ng-model="question.domainId" ng-change="getModules(question.domainId)" ng-options="domain.id as domain.name for domain in domainsList">
      <option value="" selected disabled hidden>Escolha o Domínio ▼</option>
    </select>
    <select ng-model="question.selectedModuleId" ng-options="module.id as module.name for module in modulesList">
      <option value="" selected disabled hidden>{{selectedModule.name}}</option>
    </select>
    <textarea ng-model="question.heading" rows="3" cols="80" placeholder="Enunciado da Questão"></textarea>
    <input type="checkbox" id="choose-if-open" ng-model="question.isMultipleChoice"></input>
    <label for="choose-if-open">Questão Fechada</label>
    <div class="alternatives" ng-show="question.isMultipleChoice">
      <input type="text" name="" ng-repeat="n in [0,1,2,3,4]" id="alt{{n}}" ng-model="question.alternatives[n]" placeholder="Alternativa {{n+1}}">
    </div>
</div>
