<html ng-app="jQuest">
	<head>
		<title>jQuest</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="shortcut icon" href="assets/img/icon.png" />

    <script src="./assets/libs/angular.min.js" charset="utf-8"></script>
    <script src="./assets/libs/angular-ui-router.min.js" charset="utf-8"></script>
    <script src="./assets/libs/angular-route.min.js" charset="utf-8"></script>
    <base href="/jquest-frontend/">
	</head>
	<body ng-controller="MainCtrl as ctrl">

		<jq-navbar></jq-navbar>

		<!-- Banner -->
			<section id="banner" ng-hide="hideLogin">
				<div class="inner">
          <h1>Faça login</h1>
					<form name="loginForm" >
						<label>Email<input type="text" name="user-name" ng-model="credential.email" required></label>
						<label>Senha<input type="password" name="senha" ng-model="credential.password" required></label>
						<button ng-click="loginForm.$valid && login()" class="button">Entrar</button>
						{{loginMessage}}
						<p>ou <a href="register">registre-se</a></p>
					</form>
					<button type="button" name="button" ng-click="close()">fecha saporra</button>
				</div>
			</section>

		<!-- One -->
			<section id="one">
				<div class="inner">
					<div ng-view></div>
				</div>
			</section>

		<!-- Footer -->
			<section id="footer">
				<div class="inner">
					<div class="copyright">
						&copy; Untitled Design: <a href="https://templated.co/">TEMPLATED</a>. Images <a href="https://unsplash.com/">Unsplash</a>
					</div>
				</div>
			</section>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/Chart.js"></script>
      <script src="./app/app.js" charset="utf-8"></script>
      <script src="./app/routes.js" charset="utf-8"></script>

			<!-- Controllers -->
			<script src="./app/components/insert-question/insert-question-controller.js" charset="utf-8"></script>
			<script src="./app/components/user-profile/user-profile-controller.js" charset="utf-8"></script>
			<script src="./app/components/shared/main-controller.js" charset="utf-8"></script>
			<script src="./app/components/register/register-controller.js" charset="utf-8"></script>
			<script src="./app/components/my-questions/my-questions-controller.js" charset="utf-8"></script>
			<script src="./app/components/list-questions/list-questions-controller.js" charset="utf-8"></script>
			<script src="./app/components/discussion/discussion-controller.js" charset="utf-8"></script>
			<script src=".\app\components\manage-modules\manage-modules-controller.js" charset="utf-8"></script>
			<script src=".\app\components\manage-domains\manage-domains-controller.js" charset="utf-8"></script>
			<script src=".\app\components\question-correction\question-correction-controller.js" charset="utf-8"></script>
	</body>
</html>
