<!-- Header -->
  <header id="header">
    <div class="inner">
      <a href="/" class="logo">jQuest</a>
      <nav id="nav">
        <a href="list-questions">Home</a>
        <a href="">Domínios</a>
        <a href="user-profile">Meu Perfil</a>
      </nav>
    </div>
    <div class="domains-box">
      <div class="domain-item">
        <p ng-click="showMenu($event)">Matemágica</p>
        <!-- TODO: transform this list into a dropdown menu  -->
        <div class="sub-menu">
          <ul>
            <li>Trigonometria</li>
            <li>Geometria</li>
            <li>Financeira</li>
          </ul>
        </div>
      </div>

      <div class="domain-item">
        <p ng-click="showMenu($event)">Portges</p>
        <!-- TODO: transform this list into a dropdown menu  -->
        <div class="sub-menu">
          <ul>
            <li>Trigonometria</li>
            <li>Geometria</li>
            <li>Financeira</li>
          </ul>
        </div>
      </div>

      <div class="domain-item">
        <p ng-click="showMenu($event)">Historia</p>
        <!-- TODO: transform this list into a dropdown menu  -->
        <div class="sub-menu">
          <ul>
            <li>Trigonometria</li>
            <li>Geometria</li>
            <li>Financeira</li>
          </ul>
        </div>
      </div>

      <div class="domain-item">
        <p ng-click="showMenu($event)">Geografia</p>
        <!-- TODO: transform this list into a dropdown menu  -->
        <div class="sub-menu">
          <ul>
            <li>mapas</li>
            <li>geopolitica</li>
            <li>Financeira</li>
          </ul>
        </div>
      </div>
    </div>
  </header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
