<!-- Header -->
  <header id="header">
    <div class="inner">
      <a href="list-questions" class="logo">jQuest</a>
      <nav id="nav">
        <a href="manage-modules">Módulos</a>
        <a href="manage-domains">Domínios</a>
        <a ng-href="user-profile/{{userCredentials.id}}" ng-if="isUserLogged"><i class="fa fa-user" aria-hidden="true"></i> Meu Perfil</a>
        <a href="insert-question">Questões</a>
        <a href="question-correction">Corrigir</a>
        <a ng-click="logout()" ng-if="isUserLogged">Sair</a>
      </nav>
    </div>
  </header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
