<!-- TODO: improve the search and make it simillar to the one on the JS30 day 6 activity -->
<link rel="stylesheet" href="./app/components/manage-modules/manage-modules.css">
<section>

  <!-- Selecting the module to be edited -->
  <h2>Editar módulo</h2>
  <form name="modulesForm">
    <label for="select-module">Selecione o módulo desejado:</label>
    <select id="select-module" class="" name="selectedModule"
            ng-model="selectedModuleId"
            ng-change="updateFields()"
            ng-options="module.id as module.name for module in modules"
            size="10" required>
    </select>
    <button ng-click="modulesForm.$valid && deleteModule()" type="submit" name="button">Excluir</button>
  </form>

  <!-- Editing the information -->
  <form class="" name="ctrl.editModuleForm">
    <div class="flexible">
      <div class="item">
        <label for="edit-module-name">Editar nome</label>
        <input id="edit-module-name" type="text" name="moduleName"
               ng-value="selectedModule.name || 'Selecione um módulo' "
               ng-model="editModuleName"
               ng-disabled="!modulesForm.$valid">
      </div>
      <div class="item">
        <label for="edit-domain">Editar domínio</label>
        <select id="edit-domain" class="" name="edit-domain" ng-disabled="!modulesForm.$valid"
                ng-model="selectedModule.domainId">
                <!-- ng-options="domain.id as domain.name for domain in domains track by domain.id"
                ng-selected="domain.id == selectedModule.id"> -->
          <option value="" hidden selected>Selecione um módulo</option>
          <option ng-repeat="domain in domains"
                  ng-value="domain.id"
                  ng-selected="domain.id == selectedModule.id">{{domain.name}}</option>
        </select>
        <label for="edit-module-description">Editar Descrição</label>
        <input id="edit-module-description" type="text" ng-model="selectedModule.description"
                  ng-value="selectedModule.description || 'Insira descrição'" ng-disabled="!modulesForm.$valid" required>
      </div>
    </div>
  </form>
  <button ng-click="updateModule()" class="button" ng-class="ctrl.editModuleForm.$pristine ? 'disabled' : ''">Confirmar alterações</button>

  <!-- Insert new module -->
  <h2>Inserir novo módulo</h2>
  <form class="" name="ctrl.insertModuleForm">
    <div class="flexible">
      <div class="item">
        <label for="insert-module-name">Nome do novo Módulo</label>
        <input id="insert-module-name" type="text" name="moduleName"
               placeholder="Insira nome"
               ng-model="newModule.name"
               required>
      </div>
      <div class="item">
        <label for="select-domain">Escolher domínio</label>
        <select id="select-domain" class="" name="select-domain"
          ng-options="domain.id as domain.name for domain in domains"
          ng-model="newModule.domainId"
          required>
          <option value="" disabled selected>Selecione um domínio de conhecimento</option>
        </select>
        <label for="insert-module-description">Insira descriçao</label>
        <input id="insert-module-description" name="" type="text" value=""
                placeholder="Insira Descriçao"
                ng-model="newModule.description"
                required>
      </div>
    </div>
    <button type="submit" ng-click="createModule()" class="button" ng-class="ctrl.insertModuleForm.$invalid ? 'disabled' : '' ">Confirmar alterações</button>
  </form>
</section>
