.flexible {
  display: flex;
}

.flexible > .item {
  flex-basis: 50%;
}
.flexible > .item:not(:last-child) {
  padding-right: 3%;
}

.button {
  width: 100%;
  margin: 2em 0;
}

.disabled {
  pointer-events: none;
  opacity: 0.25;
}
