<article>
  <h2>Correção de Questões Abertas</h2>
  <section ng-repeat="question in questionsInQueue" class="">
    <form class="" name="question-correction-form">
      <div class="">
        <div class="item">
          <h6>Enunciado {{question.id}}:</h6>
          <span>{{question.heading}}</span>
        </div>
        <div class="item panel">
          <a ng-click="" class="button">Avaliar</a>
        </div>
      </div>
      <div class="">
        <div class="">
          <textarea name="name" rows="8" cols="80"></textarea>
        </div>
        <div class="">
          <p>Porcentagem de acerto:</p>
          <input type="number" name="" value="" required>
        </div>
      </div>
    </form>
  </section>
</article>
