<article class="">
  <section>
    <h4>{{question.heading}}</h4>
    <div class="questao-opcoes" ng-show="question.isMultipleChoice">
      <div class="" ng-repeat="opc in question.alternatives">
        <input type="radio" id="{{question.id}}" ng-model="question.id" ng-value="{{$index}}">
        <label for="{{question.id}}">{{opc}}</label>
      </div>
    </div>
    <div class="questao-texto" ng-hide="question.isMultipleChoice">
      <textarea name="answer" rows="3" cols="80"></textarea>
    </div>
  </section>
  <section class="discussion" ng-repeat="discussion in discussions">
    <!-- TODO: shows user's profile when clicking their username -->
    <p><a ng-href="user-profile/{{discussion.userId}}">{{discussion.userName}}</a> : {{discussion.text}}</p>
    <div class="comment" ng-repeat="comment in discussion.comments">
      <!-- TODO: shows user's profile when clicking their username -->
      <p>
        <!-- TODO: implement functions related to voting -->
        <span ng-click="upvoteComment(comment.id)">👍</span>
        <span ng-click="downvoteComment(comment.id)">👎</span>
        <a ng-href="user-profile/{{comment.userId}}">{{comment.userName}}</a> : {{comment.text}}
      </p>
      <p></p>
    </div>
  </section>
</article>
