body, html {
  margin: 0;
  padding: 0;
}

.banner {
    background-color: #e5474b;
		color: #f2a3a5;
		padding: 13em 0 11em 0;
		background-color: #0c0c0c;
		background-image: url("../img/banner.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 15% left;
		text-align: left;
		position: relative;
		z-index: 9999;
  }


.chart{
	width: 450px;
	height: 250px;
}