<link rel="stylesheet" href="./app/components/list-questions/list-questions.css">
<section>
  <h1>Perguntas</h1>
  <div class="questao-box" ng-repeat="question in questions | limitTo : quantity">
    <form name="{{question.id}}">
      <div class="questao-enunciado">
        <h4>
          <a ng-href="question/{{question.id}}">{{question.heading}}</a>
          <span class="tag">{{question.module}}</span>
          <span class="tag">{{question.domain}}</span>
        </h4>
      </div>
      <div class="questao-VouF" ng-if="question.idt === 'V' ">
        <div class="" ng-repeat="opc in question.alternatives">
          <select id="{{'' + question.id + $index}}" ng-model="question.selectedValue" ng-value="{{$index}}" name="{{question.id}}" class= "TorFquest" required>
            <option value="V">V</option>
            <option value="F">F</option>
          </select>
          <label for="{{'' + question.id + $index}}">{{opc.assertive}}</label>
        </div>
        <p><button ng-click="confirmQuestion(question.id)" ng-disabled="question.selectedValue == undefined" type="submit" class="button">Enviar</button>{{question.status}}</p>
      </div>
      <div class="questao-opcoes" ng-if="question.idt === 'M' ">
        <div class="" ng-repeat="opc in question.alternatives">
          <input type="radio" id="{{'' + question.id + $index}}" ng-model="question.selectedValue" ng-value="{{$index}}" name="{{question.id}}" required>
          <label for="{{'' + question.id + $index}}">{{opc}}</label>
        </div>
        <p><button ng-click="confirmQuestion(question.id)" ng-disabled="question.selectedValue == undefined" type="submit" class="button">Enviar</button>{{question.status}}</p>
      </div>
      <div class="questao-texto" ng-if="question.idt === 'A' ">
        <textarea name="answer" rows="3" cols="80" required></textarea>
        <button ng-click="confirmQuestion(question.id)" type="submit" class="button">Enviar</button>
      </div>
    </form>
  </div>
</section>
