<section>
  <h1>Perguntas</h1>
  <div class="" ng-repeat="question in questions">
    <div class="questao-enunciado">
      <h4><a ng-href="question/{{question.id}}">{{question.heading}}</a></h4>
    </div>
    <div class="questao-opcoes" ng-show="question.isMultipleChoice">
      <div class="" ng-repeat="opc in question.alternatives">
        <input type="radio" id="{{'' + question.id + $index}}" ng-model="question.id" ng-value="{{$index}}">
        <label for="{{'' + question.id + $index}}">{{opc}}</label>
      </div>
    </div>
    <div class="questao-texto" ng-hide="question.isMultipleChoice">
      <textarea name="answer" rows="3" cols="80"></textarea>
    </div>
  </div>
</section>
