<link rel="stylesheet" href="./app/components/user-profile/user-profile.css">
<section class="flex-container">
  <!-- Main information -->
  <div class="flex-item">
    <header>
      <figure>
        <img src="https://tracker.moodle.org/secure/attachment/30912/f3.png" alt="User profile picture">
      </figure>
      <h2>{{user.name}}</h2>
    </header>
    <p><span class="bold">Questões respondidas: </span>{{user.answeredQuestions}}</p>
    <p><span class="bold">Taxa de acertos: </span>{{user.correctAnswersRatio * 100}}%</p>
    <p><span class="bold">Usuário desde: </span>{{user.entryDate}}</p>
    <button type="button" name="button">Editar Perfil</button>
  </div>

  <!-- Performance -->
  <div class="flex-item">
    <!-- TODO: plot user's performance over time -->
    <figure>
      <h3>Seu Progresso</h3>
      <canvas id="progressChart" class="chart"></canvas>
    </figure>
  </div>

  <!-- Questions created by user and discussions -->
  <div class="flex-item">
    <!-- User's own quesions -->
    <div class="">
      <h3>Perguntas do usuário</h3>
      <ul ng-show="user.ownQuestions.length > 0">
        <li ng-repeat="question in user.ownQuestions | limitTo: quantity">
          <a ng-href="question/{{question.id}}">{{question.shortDesc}}</a>
        </li>
      </ul>
      <p ng-show="user.ownQuestions.length === 0" class="italics">Parece que esse usuário ainda não respondeu perguntas... 😢</p>
    </div>
    <!-- User's discussions -->
    <div class="">
      <h3>Participação em discussões</h3>
      <ul ng-show="user.latestPosts.length > 0">
        <li ng-repeat="post in latestPosts | limitTo: quantity">
          <a ng-href="question/comment/{{post.id}}"><!-- TODO: get question shortDesc--></a>
        </li>
      </ul>
      <p ng-show="user.latestPosts.length === 0">Parece que esse usuário nunca comentou em nada 😢</p>
    </div>
  </div>
</section>
